version: '3.8'

services:
  main:
    build: ./main
    container_name: main-service
    ports:
      - "80:3000"
    restart: always
    environment:
      - PORT=3000
      - SERVICE_NAME=MainGateway

  app:
    build: ./app
    container_name: app-service
    ports:
      - "3000:3000"
    restart: always
    environment:
      - PORT=3000
      - SERVICE_NAME=AppService

  cloud:
    build: ./cloud
    container_name: cloud-service
    ports:
      - "3001:3000"
    restart: always
    environment:
      - PORT=3000
      - SERVICE_NAME=CloudService
